<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the application. Please log in or sign up to continue.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
</div>
</body>
</html>
